<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostels</title>
</head>
<body>
    <h3>Available hostels</h3>
    <div class="di">
    {% for hostel in hostels %}     
    <tr>
        <p>{{ hostel.school_name }}</p>
        <p>{{hostel.units}} units available
            @{{hostel.price}} Shillings located in
        </p>
        <p>
            {{hostel.ward}} ward {{hostel.constituency}} 
            constituency in {{hostel.county}} county 
            {{hostel.name_of_estate_or_village}} village/estate
        </p>
        <p>
            You can reach the owner through 
            {{hostel.contacts}} or
            {{hostel.alternate_contact}}
        </p>
        <br>
    </tr>
    
    {% endfor %}
    </div>
</body>
</html>