<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property</title>
</head>
<body>
    <div class="container">
        <nav>
            <li><a href="{{ url_for('hostels.hostels_create_view') }}">+Register Hostels</a></li>
            <li><a href="#">+Register Houses</a></li>
            <li><a href="">+Register Business Premises</a></li>
        </nav>
    </div>
</body>
</html>