[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
pytest = "*"
pytest-cov = "*"
africastalking = "*"
Flask-Migrate = "*"
redis = "*"
mixer = "*"
psycopg2-binary = "==2.8.6"
gunicorn = "==20.1.0"
flake8 = "*"
black = "==21.9b0"
isort = "*"
python-decouple = "*"
Flask-And-Redis = "*"
flask-redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
