<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        {{ contacts }}
    <div class="container">
        <fieldset>
            <legend>List Property</legend>
                 {{ amount }}
                <a href="{{ url_for('payment.lipa_nyumba_online')}}"><button type="submit">Pay</button></a>
                <p>Choose this plan to list your {{ hostel.units}} units</p>
        </fieldset>
    </div>
</body>
</html>