<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hostel premise</title>
 {{ hostel }}
</head>
<body>
    <p>
    <h3> {{hostel.units}} units of {{ hostel.type_of_hostel }} are available in {{hostel.name_of_estate_or_village}} estate</h3>
    <h4>Ward: {{hostel.ward}} <br>
        Constituency: {{hostel.constituency}} <br>
        County: {{hostel.county}} <br>
    </h4>
    </p>
    <p>
        @{{hostel.price}} Shillings Per unit
    </p>
    <p>
    Contact the owner:  {{hostel.contacts}} / {{hostel.alternate_contact}}
    </p>
    <p>
        <a href="{{ url_for('hostels.hostels_update_view', id=hostel.id) }}">Update</a>
    </p>
    <p>
        <form action="{{ url_for('hostels.hostels_delete_view', id=hostel.id) }}" method="post">
            <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
    </p>
</body>
</html>