<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Houses</title>
</head>
<body>
    <h1>Register houses</h1>
    <div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <p>
            {{ form.county.label }}
            {{ form.county(size=20, placeholder="Nairobi") }} <br>
        </p>
        <p>
            {{ form.constituency.label }}
            {{ form.constituency(size=20, placeholder="Ruaraka") }} <br>
        </p>
        <p>
            {{ form.ward.label }} 
            {{ form.ward(size=20, placeholder="Korogocho") }} <br>
        </p>

        <p>
            {{ form.name_of_estate_or_village.label }}
            {{ form.name_of_estate_or_village(size=20, placeholder="GrogonA")}}<br>
        </p>
            {{ form.type_of_house.label }}
            {{ form.type_of_house(size=20, placeholder="One Bedroom")}}

        <p> {{ form.units.label }}
            {{ form.units(size=20, placeholder="4") }} <br>
        </p>
        
        <p>
            {{ form.price.label }}
            {{ form.price(size=20, placeholder="100 Ksh.") }}</br>
        </p>
        <p>
            {{ form.alternate_contact.label }}
            {{ form.alternate_contact(size=20,  placeholder="07....")}} <br>
        </p>
        <p>
            {{ form.for_rent.label}}<br>
            {{ form.for_rent(size=1)}}
        </p>
        <p>
            {{ form.image.label}}<br>
            {{ form.image(size=1)}}
        </p>
        <p>
            {{ form.submit(size=5)}} <br>
        </p>
    </form>
</div>
</body>
</html>