<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <nav>
            {{ current_user.id }}
            Welcome {{ current_user.name }} !!
            <li><a href="{{ url_for('hostels.hostels_home' ) }}">+Hostels</a></li>
            <li><a href="#">+Houses</a></li>
            <li><a href="#">+Business Premises</a></li>
            <li><a href="{{ url_for('auth.logout') }}">+Logout</a></li>
        </nav>
    </div>
</body>
</html>