<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--JQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!--Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.3.2/dist/geosearch.css"/>
    <script src="https://unpkg.com/leaflet-geosearch@3.3.2/dist/geosearch.umd.js"></script>

    
   <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}">
    <title>Document</title>
</head>
<body>
    Hello
    <div id="map"></div>
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
    <script>
        // Plotting all the house property on the map
        var data_ = JSON.parse('{{ hostel_ | safe }}');
        L.geoJSON(data_, {
            pointToLayer: style
        }).addTo(map);

    </script>
</body>
</html>



